        :root {
          --default-size: 0.7vw;
          --table-font-size: 1vw;
        }

        @font-face {
            font-family: genshin;
            src: url(font/zh-cn.ttf);
        }
        * {
          font-family: genshin;
          color: white;
          font-size: var(--default-size);
          margin: 0;
        }
        
        body{
            background-color: black;
            text-align: center;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        table, tr, th, td {
            border: 1pt solid rgb(255, 255, 255);
            border-spacing: 0;
        }
        table {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
        th {
            padding: 0.7vh;
            font-size: var(--table-font-size);
        }
        button {
            width: 100px;
        }

        .logo{
            padding-left: 20px;
            padding-right: 20px;
          }
          
        .navigate-bar-top-1{
            background-image: linear-gradient(to bottom right, #26619c, black);
          }
          
        .navigate-bar-top-content{
            display: flex;
          } 
          
          .nav-list{
            margin-left: 60px;
            margin-top: auto;
            margin-bottom: auto;
          }
          
          .navbar-anchor{
            font-size: 1.7em !important;
          }
          
          .nav-list:hover{
            border-bottom: 3px solid white;
          }

          li{
            list-style-type: none;
          }
          a{
            text-decoration: none;
            list-style-type: none;
            color: white;
          }
          a::after{
            text-decoration: none;
            list-style-type: none;
            color: white;
          }
          li::after{
            list-style-type: none;
          }
          ul{
            padding: 30px;
          }

        .img {
            height: 10vh;
            width: 10vh;
            background-color: #581494;
            border-radius: 20%;
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
        .button {
            background-color: rgb(0, 10, 68);
            font-size: 1.2em;
            border-radius: 15%;
            text-align: center;
        }
        .button:hover {
          background-color: #4CAF50; /* Green */
          color: white;
        }
        .text{
            padding: 2vh;
            font-size: var(--table-font-size);
            text-align: center;
        }
        .center-button{
           text-align: center;
        }
        .img-loc{
            text-align: center;
            padding-top: 0.7vh;
            width: 14%;
        }
        .no {
          font-size: var(--table-font-size);
          text-align: center;
          width: 4%;
        }
        #kategori{
          background-color: aliceblue;
        }