@font-face {
    font-family: Mihoyo;
    src: url(../font/zh-cn.ttf);
  }
  
  *{
    margin: 0;
    font-family: Mihoyo;
  }
  
  header{
    background-image: url(image/random/backgroung-image.png);
  }
  
  .logo{
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .navigate-bar-top-1{
    background-image: linear-gradient(to bottom right, #26619c, black);
  }
  
  .navigate-bar-top-content{
    display: flex;
  } 
  
  .nav-list{
    margin-left: 60px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .nav-list:hover{
    border-bottom: 3px solid white;
  }
  .main {
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    height:max-content;
    width: 50vw;
    margin-left: 25vw;
  }
  li{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    list-style-type: none;
    color: white;
  }
  a::after{
    text-decoration: none;
    list-style-type: none;
    color: white;
  }
  li::after{
    list-style-type: none;
  }
  ul{
    padding: 30px;
  }
  
  body{
    background-color: #000000;}
  table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 0px;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .submain {
    font-size: 16px;
  }
  h1{
    line-height: 60px;
    border-bottom: 1px solid #ffffff; 
    display: inline;
  }
  h2{
    font-size: 1.8rem;
    line-height: 2.3rem;
    display: block;
    margin: 25px 0 20px;
    padding: 14px 10px;
    border-radius: 2px;
    font-weight: bold;
    background-color: #0d002c;
    color: #ffffff;
    box-shadow: 5px 5px 0 0 #26619C;
  
    
  }
  h3{
    font-size: 1.5rem;
    line-height: 2.2rem;
    display: block;
    margin: 25px 0 20px;
    padding: 2px 0 1px 10px;
    font-weight: bold;
    color: #ffffff;
    border-left: 3px solid #ffffff;
  }
  h4{
        padding: 2px 0 1px 10px;
  }
  p {
    padding: 2px 0 1px 10px;
    margin-bottom: 40px; 
  
  }
  table{
    margin-bottom: 40px; 
  }

.search-logo {
    padding: 20px;
    border-radius: 5px;
    align-items: center;
}  

.search-container {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
}

#search[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#submit {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}